<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Sick Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill out the form for your Sick Note!</h1>
    <form action="/nursemadlib" method="post">
      <label for="silly1">Enter a Silly Word:</label>
      <input type="text" name="silly1" id="silly1">
      <br>
      <label for="lname">Enter a Last Name:</label>
      <input type="text" name="lname" id="lname">
      <br>
      <label for="illness">Enter an Illness:</label>
      <input type="text" name="illness" id="illness">
      <br>
      <label for="nouns">Enter a Plural Noun:</label>
      <input type="text" name="nouns" id="nouns">
      <br>
      <label for="adj1">Enter an Adjective:</label>
      <input type="text" name="adj1" id="adj1">
      <br>
      <label for="adj2">Enter an Adjective:</label>
      <input type="text" name="adj2" id="adj2">
      <br>
      <label for="silly2">Enter a Silly Word:</label>
      <input type="text" name="silly2" id="silly2">
      <br>
      <label for="place">Enter a Place:</label>
      <input type="text" name="place" id="place">
      <br>
      <label for="num1">Enter a Number:</label>
      <input type="text" name="num1" id="num1">
      <br>
      <label for="adj3">Enter a Adjective:</label>
      <input type="text" name="adj3" id="adj3">
      <br>
      <label for="noun3">Enter a Noun:</label>
      <input type="text" name="noun3" id="noun3">
      <button type="submit">GO!</button>
    </form>
  </body>
</html>